// Add your custom styles below

bg-gradient-primary {
    background: #e8453a;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
}

// filter sidebar
.list-group {
  a {
    background-color:#e8453a !important;
    color: white;
    font-weight: 700;
    font-size: .875rem;
    .hidden-sm-down i {
      padding-right: 3rem;
    }
  }
  .custom-control-label{
    font-size: .875rem;
    padding-left: 2rem;
  }
}


