// Add your custom styles below

bg-gradient-primary {
    background: #e8453a;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
}

// filter sidebar
.list-group {
  a {
    background-color:#e8453a !important;
    color: white;
    font-weight: 700;
    font-size: .875rem;
    .hidden-sm-down i {
      padding-right: 3rem;
    }
  }
  .custom-control-label{
    font-size: .875rem;
    padding-left: 2rem;
  }
}

#results {
  .active-filters > .badge {
    margin-right: .5em;
  }
}

.rec-gallery {
  width: 100%;
  padding: 2%;
  min-height: 400px;
  text-align: justify;
  position: relative;

  .mix {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
  }

	li {
		margin-bottom: 1.6em;
		box-shadow: 0 1px 4px rgba(#000, .1);
		display: none;

  }

  .plan-container {
    background-color: #f5f9fb;

    .rec-item {
      background-color: #0973ba;
      padding:30px;
      border-radius: 10px 10px 0 0;

      .rec-title {
        color:#f5f9fb;
        font-family:'Oswald';
        font-size: 2rem;

        .plan-num {
          font-size: 1.4rem;
        }
      }

      hr {
        border-color:white;
        width:15%;
        margin-right:85%;
        border-width:2px;
      }

      p {
        font-weight:400;
        color:white
      }

      .rec-description span {
        font-weight:700;
        font-size:.8rem;
      }

      .rec-orgs {
        margin-top:1.2rem;

        span {
          font-weight:700; font-size:.8rem;
        }
      }
    }

    .rationale {
      padding:30px;

      p {
        font-weight:400;
      }
    }

    .plan-tags {
      background-color:gainsboro;
      padding:30px;
      border-radius: 0 0 10px 10px;

      .tag-list{
        padding-top:0 !important;
        div {
          padding-left: 0;
        }
        span {
          text-align: left;
        }
        .badge-primary {
          padding-left: .25em;
          margin-bottom: 0;
          .no-show { opacity: 0; }
        }
      }

    }
  }

  .rec-fail-message {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;

    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    transition: 150ms;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  .mixitup-container-failed .rec-fail-message {
    opacity: 1;
    pointer-events: auto;
  }

  // @include MQ(M) {
	// 	padding: 40px 3%;

	// 	ul {
	// 		@include clearfix;
	// 		text-align: justify;
	// 	}

	// 	li {
	// 		width: 48%;
	// 		margin-bottom: 2em;
	// 	}
	// }

	// @include MQ(L) {
	// 	padding: 50px 2%;
	// 	float: right;
	// 	@include transition(width .3s);

	// 	li {
	// 		width: 23%;
	// 	}
	// }
}




